canvas#gameCanvas 
{
    background: #927fc7b7;
    position: relative;
    border: 3px solid;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

#background
{
    background-size: cover;
}

body
{
    background-image:url("background.jpg");
    background-size: cover;
}